* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.button-container {
  display: flex;
  align-items: flex-start;
  padding: 2.5%;
  gap: 2.5%;
}

.hidden {
  display: none;
}
